.loading {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 90px 0px 0px 0px;
    .loader {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        display: inline-block;
        border-top: 3px solid #fff;
        border-right: 3px solid transparent;
        box-sizing: border-box;
        animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
}

.cinema {
    h1 {
        font-weight: 400;
        font-size: 32px;
        letter-spacing: -0.5px;
        color: #fff;
        margin-bottom: 32px;
    }
    .none {
        display: none;
    }
    .noResults {
        font-weight: 400;
        font-size: 32px;
        letter-spacing: -0.5px;
        color: #fff;
    }
    .cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
        grid-column-gap: 40px;
        grid-row-gap: 32px;
    }
}

.skeleton-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));

    grid-column-gap: 40px;
    grid-row-gap: 32px;
}

@media (max-width: 900px) {
    .cinema {
        padding: 0px 25px;
        .cards {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            gap: 24px 30px;
        }
    }
    .skeleton-cards {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

        grid-column-gap: 30px;
        grid-row-gap: 24px;
    }
}

@media (max-width: 700px) {
    .cinema {
        h1 {
            font-size: 20px;
        }
        .noResults {
            font-size: 20px;
        }
        .cards {
            grid-template-columns: repeat(auto-fit, minmax(155px, 1fr));
            grid-column-gap: 15px;
            grid-row-gap: 16px;
        }
    }
    .skeleton-cards {
        grid-template-columns: repeat(auto-fit, minmax(155px, 1fr));
        grid-column-gap: 15px;
        grid-row-gap: 16px;
    }
}
