.submit-btn {
    background: var(--btn-bg);
    color: var(--white);
    width: 100%;
    border-radius: 6px;
    border: none;
    outline: none;
    font-family: inherit;
    font-weight: 400;
    font-size: 15px;
    padding: 14px 0px 15px 0px;
    cursor: pointer;
    margin-bottom: 24px;
    transition: all 0.5s ease;
}

.submit-btn:hover {
    background: var(--white);
    color: var(--card-bg);
}
