.movies {
    .title {
        display: flex;
        justify-content: start;
        align-items: center;
        h1 {
            margin-bottom: 38px;
            font-weight: 400;
            font-size: 32px;
            color: #ffffff;
            letter-spacing: -0.5px;
        }
        .none {
            display: none;
        }
    }
    .noResults {
        font-weight: 400;
        font-size: 32px;
        color: #ffffff;
        letter-spacing: -0.5px;
    }
    .movies-cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
        grid-column-gap: 40px;
        grid-row-gap: 32px;
    }
}

@media (max-width: 900px) {
    .movies {
        padding: 0px 25px;
        .movies-cards {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            grid-column-gap: 30px;
            grid-row-gap: 24px;
        }
    }
}

@media (max-width: 700px) {
    .movies {
        padding: 0px 16px;
        .title {
            h1 {
                font-size: 20px;
                margin-bottom: 16px;
            }
        }
        .noResults {
            font-size: 20px;
        }
        .movies-cards {
            grid-template-columns: repeat(auto-fit, minmax(155px, 1fr));
            grid-column-gap: 15px;
            grid-row-gap: 16px;
        }
    }
}
